@model SelectedTeamViewModel

@if (Model.SelectedTeam.SelectedTeamCandidates.Count > 0)
{
    <li>
        <a>
            <span class="glyphicon glyphicon-education"></span>
            <span id="team-profile">
                @Model.SelectedTeam.SelectedTeamCandidates.Count
            </span>
        </a>
    </li>
}